{% extends 'base.html' %}

{% block title %}
    جزئیات خبر - اخبار روز        
{% endblock %}

{% block content %}
        <main class="flex-grow animate-fade-in space-y-6 p-4 mt-4">
            <article class="bg-white dark:bg-gray-800 rounded-2xl shadow-lg overflow-hidden">
                <img src="{{ news.image_url }}" alt="تصویر خبر" class="w-full h-56 sm:h-64 object-cover">
                <div class="p-4 sm:p-6">
                    <h2 class="text-2xl sm:text-3xl font-bold mb-4 text-gray-800 dark:text-gray-200">{{ news.title | safe }}</h2>
                    <div class="flex items-center text-gray-500 dark:text-gray-400 text-sm mb-4">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                        <span class="mr-1 mt-1">{{ news.get_time_passed() }}</span>
                    </div>
                    <div class="prose prose-lg dark:prose-invert text-sm text-gray-600 dark:text-gray-300 leading-relaxed mb-6">
                        {{ news.content | safe }}
                    </div>
                    <div class="flex flex-col space-y-2">
                        <span class="text-sm text-indigo-600 dark:text-indigo-400 font-semibold">برچسب‌ها: {{ news.category() }}</span>
                        {% if news.link %}
                            <a href="{{ news.link.url }}" target="_blank" rel="noopener noreferrer" class="inline-flex mt-1 items-center text-sm text-blue-600 dark:text-blue-400 hover:text-blue-800 dark:hover:text-blue-300 transition duration-300 group">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-1 group-hover:animate-pulse" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1" />
                                </svg>
                                <span class="border-b border-blue-400 dark:border-blue-500">منبع خبر: کلیک کنید</span>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </article>
            <section class="mt-8">
                <h3 class="text-xl font-bold mb-4 text-gray-800 dark:text-gray-200">اخبار مرتبط</h3>
                <div class="space-y-4">
                    {% if related_news %}
                        {% for related in related_news %}
                            <div class="bg-white dark:bg-gray-800 rounded-xl shadow-md p-4 flex items-center hover:shadow-lg transition duration-300">
                                <a href="{{ url_for('main.read', id=related.id) }}" class="flex items-center w-full">
                                    <img src="{{ related.image_url }}" alt="تصویر {{ related.title }}" class="w-20 h-20 object-cover rounded-lg mr-4 ml-2">
                                    <div>
                                        <h4 class="text-lg font-semibold mb-1 text-gray-800 dark:text-gray-200">{{ related.title | safe | truncate(40) }}</h4>
                                        <div class="text-gray-600 dark:text-gray-400 text-sm">{{ related.content | safe | truncate(50) }}</div>
                                        <span class="text-xs text-indigo-600 dark:text-indigo-400">{{ related.get_time_passed() }}</span>
                                    </div>
                                </a>
                            </div>
                        
                    {% endfor %}
                    {% else %}
                        <p class="text-gray-600 dark:text-gray-400">در حال حاضر خبر مرتبطی وجود ندارد.</p>
                     {% endif %}
                </div>
            </section>
           
        </main>
{% endblock %}
